$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.article{
	@include make-row();
	.aside {
		@include make-xs-column(12);
		@include make-sm-column(4);
		@include make-md-column(4);
	}
	.full {
		@include make-xs-column(12);
		.mRoom {
			@include make-row();
			background-position: center;
			background-size: cover;
			border-top: 15px solid black;
			border-bottom: 15px solid black;
			color: white;
			min-height: 200px;
			@media(min-width: $screen-desktop){
				border-top: 30px solid black;
				border-bottom: 30px solid black;
				min-height: 400px;
			}
			h3 {
				padding: 10px;
			}
			p {
				padding: 0 20px;
				margin-bottom: 5px;
			}
		}
	}
	.main {
		@include make-xs-column(12);
		@include make-sm-column(8);
		@include make-md-column(8);
	}
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}


.browsehappy {
	background: #ccc;
	color: #000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}

// Setting Background images
#ny {
	background-image:url(../images/Ny.jpg);
	padding-left: 5%;
}
#sf {
	background-image:url(../images/Sf.jpg);
	padding-left: 5%;
}
#seattle {
	background-image:url(../images/Seattle.jpg);
	padding-left: 60%;
}




/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
	/* Make the masthead heading the same height as the navigation */
	h3 {
		line-height: 40px;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 19px;
	}
}

/* Custom page footer */
.footer {
	border-top: 1px solid #e5e5e5;
	color: #777;
	padding-top: 19px;
}

.container-narrow > hr {
	margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
	/* Remove the padding we set earlier */
	.header,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}